@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu:wght@300&display=swap');

*, *::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: #f6f9fc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1.42857143;
    font-size: 16px;
    font-family: "Open Sans","Helvetica","Arial",sans-serif;
}
div{
    display: block;
}
.PageWrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Background{
    padding: 100px 20px;
    overflow:hidden;
    position: relative;
}
.BetterWay{
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 35px;
    font-family: "Ubuntu","Helvetica","Arial", sans-serif;
    color: #02203c;
    font-weight: 400;
    line-height: 1.3;
}
.BoxBackground{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.codeEditor{
    position: relative;
    width: 700px;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(50 50 93 / 10%) ;
    text-align: center;
}
.codeEditorSideBar{
    position: relative;
    width: 40px;
    height: 100%;
    background-color: rgba(50,50,93,.1);
}
ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    display: block;
}
.codeEditor>ul{
    position: absolute;
    left: 12px;
    top: 4px;
    list-style: none;
}
.codeEditor li{
    text-align: left;
    font-weight: 600;
    color: rgba(50,50,93,.8);
    font-family: "Source Code Pro","Helvetica","Arial",sans-serif;
    font-size: 14px;
}
.codeEditorSideBar li{
    text-align: left;
    font-weight: 400;
    color: rgba(50,50,93,.5);
    font-size: 14px;
}

.codeEditorSideBar>ul{
    position: absolute;
    left: -28px;
    top: 4px;
    list-style: none;
}


.codeEditor .const{
    color: #7411ad;
    font-weight: 600;
}
.codeEditor span{
    font-family: "Source Code Pro","Helvetica","Arial",sans-serif;
}
.codeEditor .you{
    color: #ad6111;
    font-weight: 600;
}
.codeEditor .new{
    color: #7411ad;
    font-weight: 600;
}
.codeEditor .SWEngineer{
    color: #a0a510;
    font-weight: 600;
}
.codeEditor .emptyLine{
    height: 20px;
}
.codeEditor .let{
    color: #7411ad;
    font-weight: 600;
}
.codeEditor .true{
    color: #ad6111;
    font-weight: 600;
}
.codeEditor .while{
    color: #7411ad;
    font-weight: 600;
}
.codeEditor .youu{
    color: #c41d1d;
    font-weight: 600;
}
.codeEditor .function{
    color: #2078d6;
    font-weight: 600;
}
.StudyWith{
    display: flex;
    flex-direction: column;
    list-style: none;
}
button:focus:not(:focus-visible){
    outline: none;
}
.button:hover{
    color: #02203c;
}
.buttonbb{
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}
.button{
    font-weight: 600;
    font-size: 14px;
    padding: 10px 15px;
    transition: background-color .4s,box-shadow .4s,color .4s,border-color 3s;
    border: none;
    border-color: #f6f9fc;
    border-radius: 2px;
    cursor: pointer;
    flex: 0 0 auto;
    text-align: left;
    margin: 0 0 0 20px;
}
.button1:hover{
    color: #02203c;
}
.buttonbb1{
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}
.button1{
    font-weight: 600;
    font-size: 14px;
    padding: 10px 15px;
    transition: background-color .4s,box-shadow .4s,color .4s,border-color 3s;
    border: none;
    border-color: #f6f9fc;
    border-radius: 2px;
    cursor: pointer;
    flex: 0 0 auto;
    text-align: left;
    margin: 0 0 0 20px;
    background-color: transparent;
    color: #626ee3;
}
button{
    line-height: inherit;
}
button{
    appearance: auto;
    -webkit-writing-mode: horizontal -tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    align-items: flex-start; 
}

.BB{
    padding: 100px 20px;
    overflow: hidden;
    position: relative;
}
.Nickb{
    background-color: #fff;
    max-width: 1200px;
    border-radius: 4px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 60px 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.outcomes{
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 35px;
    font-family: "Ubuntu","Helvetica","Arial",sans-serif;
    font-weight: 400;
    color: #02203c;
    line-height: 1.3;
}
h2{
    margin-block-start: 0.83em;
    margin-inline-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.companies{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 18px;
}
h4{
    font-family: "Open Sans","Helvetica","Arial",sans-serif;
    color: #445d6e;
    font-weight: 400;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.logo{
    position: relative;
    overflow: hidden;
    flex: 0 0 230px;
}
.logolside{
    left: 0;
    right: 0;
    background-image: linear-gradient(to right,white 30%,rgba(255,255,255,0));
    height: 100%;
    width: 40px;
    position: absolute;
    z-index: 1;
}

.logoup{
    position: relative;
    width: 1400px;
    height: 100px;
    margin: 0 0 20px 0;
    flex: 0 0 auto;
}

/* .nic{
    animation-name: move1;
} */
.nik{
    animation-name: movee1;
    left: 100%;
}
.logoupimg{
    display: flex;
    align-items: center;
    position:absolute;
    width: 100%;
    height: 100%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* @keyframes move1{
    0%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
} */
@keyframes movee1{
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
.logoupimage{
    flex: 1 1 200px;
    min-width: 0;
    margin: 20px;
}
.logodo{
    position: relative;
    width: 1400px;
    height: 100px;
    margin: 0 0 20px 0;
    flex: 0 0 auto;
}
.nic1{
    animation-name: move2;
    left: -100%;
}
.nik1{
    animation-name: movee2;
}
.logodoimg{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move2{
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}
@keyframes movee2{
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }
}
.logodoimage{
    flex: 1 1 200px;
    min-width: 0;
    margin: 20px;
}
.logorside{
    left: 0;
    right: 0;
    background-image: linear-gradient(to right,white 30%,rgba(255,255,255,0));
    height: 100%;
    width: 40px;
    position: absolute;
    z-index: 1;
}